nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 50px;
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .header {
    height: 650px;
      background-image: url("city-scape.png");
      background-position: 10 0;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .first-div {
color: white;
  }
  .second-div {
    padding-top: 100px;
    text-align: left;
    color: white;
    width: 500px;
    margin: 0 auto;
  }

.input input{
width: 1070px;
height: 40px;
border-width: 0.1px;
border-style: solid;
border-color: gray;
background-color: rgb(32, 101, 136);

}
.img img{
  position: relative;
  top: 15px;
}

.button button{
  position:relative;
    right: 4px;
    width: 50px;
    height: 43px;
    border-width: 0.1px;
    border-style: solid;
    border-color: gray;
    background-color:  rgb(32, 101, 136); 
}

.collab-text {
  color: white;
background-color: rgb(39, 53, 71); 
padding-top: 10px;
float: left; 
width: 49.4%;
height: 397.7px;

}

.collab-img img{
  padding-top: 10px;
  float: left;
  padding-left: 35px;
  background-color: rgb(39, 53, 71);
  width: 48%;
}

.collab-button button{
  color: white;
  height: 30px;
  width: 250px;
  border: 5px;
  background-color: rgb(255, 94, 0);
  border-radius: 12px;
}

.nmplink a{
  text-decoration: none;
  color:white;
}

.collab-ul ul{
  line-height: 60px;
}

.npm-button button{
  color: white;
  height: 30px;
  width: 250px;
  border: 5px;
  background-color: orange;
  border-radius: 12px;
}

.npmbackground {
  height: 900px;
  width: 1391px;
  padding-top: 100px;
  background-image: url("forklift.png");
  background-position: 0px 190px;
  background-repeat: no-repeat;
  background-size: 2000px 900px;
}

.section3 {
 position: relative;
    text-align: left;
    color: white;
    width: 500px;
    top: 200px;
    left: 300px;
}

.lastbutton button{
  color: white;
  height: 30px;
  width: 250px;
  border: 5px;
  background-color: gray;
  border-radius: 12px;
}

.lastbackground {
  background-color: white;
}
.lasttext p{
  margin-top: 25px;
  line-height: 2;

}

.lastsection {
  margin-top: 100px;
  text-align: center;
  width: 1400px;
}

.first-align {
  height: 500px;
  width: 230px;
  text-align: center;
  color:rgb(135, 145, 156);
  padding-top: 10px;
  float: left;
  margin-left: 350px;

}

.second-align {
  height: 500px;
  width: 230px;
  text-align: center;
  padding-top: 10px;
  float: left;
  
}

.third-align {
  height: 500px;
  align-content: center;
  width: 230px;
  text-align: center;
  padding-top: 10px;
  float: left;
 
}

.lastheading h1{
  color:rgb(83, 88, 98);
}

.lastp p{
  color:rgb(135, 145, 156);
}

.lastlink a{
  text-decoration: none;
  color: rgb(208, 74, 73);
}